{% extends 'src/views/partials/layout.njk' %}
{% block title %}Page{% endblock %}
{% block content %}
<nav>
    {% for i in range(0,10) %}
        <li><a href="/page{{i}}.html">{{i}}</a></li>
    {% endfor %}
</nav>
<h1>Page {{page}}</h1>
{% endblock %}
